<p><%= @politician.full_name %></p>
<p>Born: <%= @politician.birthdate %> (age <%=@politician.age%>)</p>
<p>Served: <%= @politician.total_years_service %> years</p>
<p>Party: <%= @politician.party_name %></p>
<p>Current Office: <%= @politician.current_office.capitalize %></p>